@keyframes background-change {
    0% {
      background-color: rgb(34, 173, 173); 
    }
    100% {
      background-color: rgb(12, 223, 223);
    }
  }
  
  .gradient-bg {
    background: linear-gradient(to bottom, white, black);
  }